@import "../../assets/styles/custom-variables.scss";

.page-container {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/header-background.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: blur(5px);
  z-index: -1;
}

.container-header {
  position: relative;
  z-index: 1; /* Assurez-vous que le contenu est au-dessus de l'image floue */
}

.header-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  color: white;
  padding: 20px; /* Ajusté pour un meilleur espacement */
}

.btn-header {
  width: 60vw;
  margin-top: 20px; /* Pour ajouter de l'espace entre le texte et le bouton */
}
