// Import google fonts

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Theme colors

$primary-color: #dc2323;
$secondary-color: #ffffff;
$success-color: #000000;

$primary: $primary-color;
$secondary: $secondary-color;
$success: #000000;

//spacing
// $base-padding: 0.75rem;
// $base-margin: 0.75rem;

// Titles

h1 {
  color: $secondary !important;
  //   margin: $base-margin;
}

// Command import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
